body{
    background:radial-gradient(circle,#fff,#bbb);   /*fondo*/
}

.grid-container{
    display: grid;
    grid-template-rows:
        [f-line]        /*Para nombrar las filas */
        150px 
        [s-line]
        150px 
        [t-line]
        150px;

    grid-template-columns: 150px 150px 150px ;
    
    
}
.grid-item{
    outline: 2px solid black;
    background: #fef;
}
.grid-item:first-child{
    background:red;
    /*          grid-row: 1/3;    */
    grid-row: f-line/t-line;    /* Lo mismo pero con el nombre de las filas*/
    grid-column: 1/3;
}