.container{
    padding: 30px 5px;
    background: #b8f;
 
}
.container{
   
    height: 360px;
    margin: 40px;
    background-image: url(https://assets2.razerzone.com/images/pnx.assets/618c0b65424070a1017a7168ea1b6337/razer-wallpapers-page-hero-mobile.jpg);
    background-size:cover; /*pone la imagen a su resolicon pero se repite*/  
    background-repeat: no-repeat;/*no se repite */
    background-clip:content-box ; /*recorta la imagen*/
    
    background-position: right top; /*cambia la posicion de la imagen */
    background-attachment:fixed ;
}

