.flex-container{
    display: flex;
    justify-content: space-evenly; /*center,space-evenly ,space-around,space-between*/
    height: 100vh;
}

.flex-item{
    background-color: #248;
    color: #fff;
    margin: 10px;
    min-width: 120px;
    height: 100px;
    text-align: center;
}
.orange
{
    background: orange;
 
}
.green{
    background: green;
    align-self:center;
}