.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /*center,space-evenly ,space-around,space-between*/
    height: 100vh;
    align-items:flex-start;        /*center,flex-end*/
}

.flex-item{
    background-color: #24a;
    color: #fff;
    margin: 10px;
    height: 120px;
    min-width: 120px;
    text-align: center;
}
.orange
{
    background: orange;
 
}
.green{
    background: green;
}